<div class="container-fluid mt-5">
  <div class="container w-25">
    <div class="row">
      <div class="col-md-12">
        <span>Status: </span>
        <span *ngIf="status == 'online'" [ngClass]="{'badge text-bg-primary' : status === 'online'}">Online</span>
        <span *ngIf="status == 'offline'" class="badge text-bg-danger">Offline</span>
        <hr>
        <label class="form-label">Username</label>
        <input type="text" name="" id="" class="form-control" [(ngModel)]="username">
        <p class="mt-3">{{ username }}</p>
        <button class="btn btn-sm btn-primary float-end" [disabled]="username === ''" (click)="resetUser()">Reset User
        </button>
      </div>

      <div class="col-md-12 mt-4">
        <h5>Random String: <span class="text-danger fw-bolder">{{ random }}</span></h5>
        <button class="btn btn-sm btn-secondary float-end" (click)="randomString()">Random Number</button>
      </div>

    </div>
  </div>


</div>
