<nav class="navbar navbar-expand-sm navbar-light" style="background: #f8c3c3;">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Route</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
        <li role="presentation" class="nav-item">
          <a class="nav-link" routerLink="/"
             routerLinkActive="active-routing" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active-routing">
          <a class="nav-link" routerLink="/servers"
             routerLinkActive="active-routing">Servers</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active-routing">
          <a class="nav-link" [routerLink]="['users']"
             routerLinkActive="active-routing">Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
