<intro-menu></intro-menu>
<div class="container-fluid mt-4 my-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<intro-recipes></intro-recipes>
				<intro-shopping-list></intro-shopping-list>
				<!-- <intro-directive-modules></intro-directive-modules> -->
				<!-- <intro-databinding-modules></intro-databinding-modules> -->
				<!--        <intro-server-module></intro-server-module>-->
				<!--        <intro-content></intro-content>-->
				<!--        <intro-user></intro-user>-->
			</div>
		</div>
	</div>
</div>
