<nav class="navbar navbar-expand-sm navbar-light" style="background: #dea8a8;">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipe</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/auth" routerLinkActive="active">Authenticate</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
        </li>
      </ul>

      <div class="btn-group" introDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Manage
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" (click)="onSaveData()" style="cursor: pointer;">Save Data</a></li>
            <li><a class="dropdown-item" (click)="onFetchData()" style="cursor: pointer;">Fetch Data</a></li>
        </ul>
    </div>

    </div>
  </div>
</nav>

