<div class="row mb-3 card p-3">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h5>{{ account.name }}</h5>
    <hr />
    <p>This account is {{ account.status }}</p>
    <button class="btn btn-sm btn-primary" (click)="onSetTo('active')">
      Set to 'active'
    </button>
    <button class="btn btn-sm btn-secondary mx-3" (click)="onSetTo('inactive')">
      Set to 'inactive'
    </button>
    <button class="btn btn-sm btn-danger" (click)="onSetTo('unknown')">
      Set to 'unknown'
    </button>
  </div>
</div>
