<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" name="amount" id="amount" class="form-control">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xs-12 gap-3">
          <button class="btn btn-sm btn-primary" type="submit">Add</button>
          <button class="btn btn-sm btn-danger mx-3" type="button">Delete</button>
          <button class="btn btn-sm btn-info" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
